<p>remote works!!!</p>

Friends: {{friends}}
<br>
Message: {{message}}
<ol>
    <li *ngFor="let f of friends">
        {{f.name}}
    </li>
</ol>

<table border="1">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Id</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
<tbody>
    <tr *ngFor="let f of friends; let counter = index">
        <td>{{counter+1}}</td>
        <td>{{f.name}}</td>
        <td>{{f.id}}</td>
        <td>
            <button (click)="deleteFriendById(f.id)">Delete</button>
        </td>
        <td>
            <button (click)="captureFriend(f.id)">Update</button>
        </td>
    </tr>
</tbody>
</table>
<hr>
<h4>Add Friend</h4>
<form #friendForm="ngForm">
    <label>Name: </label>
    <input type="text" name="name" [(ngModel)]="friendName">
    <button (click)="addFriend(friendForm.value)">Add</button>
</form>
<hr>
<h4>Update Friend</h4>
<form #friendUpdate="ngForm">
    <label>Name: </label>
    <input type="text" name="name" [(ngModel)]="updateFriendName">{{updateFriendName}}
    <button (click)="updateFriend(friendUpdate.value)">Update</button>
</form>
