<a routerLink="first" >First</a> &nbsp; &nbsp;
<a routerLink="second">Second</a> &nbsp; &nbsp;
<a routerLink="directive">Directive</a>  &nbsp; &nbsp;
<a routerLink="pipe">Pipes</a>  &nbsp; &nbsp;
<a routerLink="templateform">Template Form</a>  &nbsp; &nbsp;
<a routerLink="reactiveform">Reactive Form</a>  &nbsp; &nbsp;
<a routerLink="family1">Family 1</a>  &nbsp; &nbsp;
<a routerLink="family2">Family 2</a>  &nbsp; &nbsp;
<a routerLink="local1">Local 1</a>  &nbsp; &nbsp;
<a routerLink="local2">Local 2</a>  &nbsp; &nbsp;
<a routerLink="remote">Remote</a>  &nbsp; &nbsp;


<hr>
<router-outlet></router-outlet>
